<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">
        <table class="form-group">
            <tr>
                <td><label for="name">이름</label></td>
                <td><input type="text" id="name" name="name"></td>
            </tr>
            <tr>
                <td><label for="password">비밀번호</label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <label for="MALE">남자</label>
                    <input type="radio" id="MALE" name="gender" value="MALE">
                    <label for="FEMALE">여자</label>
                    <input type="radio" id="FEMALE" name="gender" value="FEMALE">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">등록</button>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div> <!-- /container -->
</body>
</html>
