* {
    box-sizing: border-box;
    font-family: "Noto Sans CJK KR";
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 670px;
    height: 960px;
    margin-top: 60px;
    margin-bottom: 60px;
    background: #ffffff;
    border: 1px solid #aacdff;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

.member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
    height: 818px;
    margin-top: 72px;
    margin-bottom: 70px;
}

.header {
    width: 100%; /* 변경 */
    height: 94px;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #0068ff;
    text-align: center; /* 텍스트를 가운데 정렬하는 스타일 추가 */
}

.top {
    color: #FF0558;
    font-size: 36px; /* 크기 조정 */
}

.user-info {
    margin-top: 39px;
}

.user-info div {
    margin-top: 21px;
}

.user-info input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #797979;
    border: none;
    border-bottom: 1px solid #cfcfcf;
    width: 466px;
    margin-top: 21px;
}

.user-info-ID input {
    border-bottom: 1px solid #0068ff;
}

.gender {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 23.94px;
    margin-top: 50px;
}

.gender input {
    width: 20px;
    height: 19.95px;
    background: #ebebeb;
    border: 1px solid #d2d2d2;
}

.gender label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.agree-check {
    width: 454px;
    height: 21.06px;
    margin-top: 52.05px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 60px;
    width: 470px;
    height: 106px;
    border-top: 1px solid #e6e6e6;
    overflow: hidden; /* 내용이 넘칠 때 숨김 */
    text-align: center;
}

button {
    margin-top: 30px;
    width: 100%; /* 변경 */
    height: 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #0068ff;
    background: #ffffff;
    border-radius: 10px;
}
.already-member {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 15px; /* 추가 */
    white-space: nowrap; /* 추가 */
}

.already-member button {
    margin-left: 5px; /* 변경 */
    color: #FF0558;
}


 .modal-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
 }

 .modal-content h3 {
   margin-bottom: 20px;
 }

 .genre-list {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   max-width: 400px;
   justify-content: center;
 }

 .genre-item {
   flex: 1 1 100px;
   display: flex;
   align-items: center;
 }

 .genre-item input {
   margin-right: 10px;
 }